
- content_for :head do
  = stylesheet_link_tag "blueprint/screen", :media => "screen, projection"
  = stylesheet_link_tag "blueprint/print", :media => "print"
  /[if lt IE 8]
    = stylesheet_link_tag "blueprint/ie", :media => "screen, projection"

%div{:style => "margin:10px; font-size:75%"}

  %h1 All Orders

  %table
    %tr
      %th Date
      %th Order#
      %th Status
      %th Items
      %th Total
      %th Vendor Total
      %th Vendor Shipping
      %th Email
      %th
    - @orders.each do |order|
      %tr
        %td= order.created_at.strftime("%Y-%m-%d %I:%M%p")
        %td= order.name
        %td= order.unshipped_items_for_vendor ? "Open" : "Shipped"
        %td= order.line_items.size
        %td= number_to_currency order.total_price
        %td= number_to_currency order.total_line_items_price_vendor
        %td= number_to_currency order.shipping_vendor
        %td= order.customer.email
        %td
          = link_to "Show", "#{sorders_path}/#{order.id}"
          = link_to "Edit", "#{sorders_path}/#{order.id}/edit" if order.unshipped_items_for_vendor

  %div{:style => "margin-top:50px"}
    %hr
    %h1 Dev Stuff
    %p Find me in app/views/sorders/index.html.haml
    - @orders.each do |order|
      %p
        %pre= order.to_yaml

