- content_for :head do
  = stylesheet_link_tag "portal.css"

%div{:style => "margin:10px"}

  %h2 Open Orders
  .form-box
    %div

      %table
        %tr
          %th Date
          %th Order#
          %th Items
          %th Vendor Total
          %th Vendor Shipping
          %th Email
          %th
        - @orders.each do |order|
          %tr
            %td= order.created_at.strftime("%Y-%m-%d %I:%M%p")
            %td= order.name
            %td= order.line_items.size
            %td= number_to_currency order.total_line_items_price_vendor
            %td= number_to_currency order.shipping_vendor
            %td= order.customer.email
            %td
              = link_to "Show", "#{order.id}", :class => "uiButton"
              = link_to "Edit", "#{order.id}/edit", :class => "uiButton"

  %div{:style => "margin-top:100px"}
    %hr
    %h1 Dev Stuff
    %p Find me in app/views/sorders/open.html.haml
    - @orders.each do |order|
      %p
        %pre= order.to_yaml

