    
= form_for @siteconfig, :html => { :multipart => true} do |f|
  
  -if @siteconfig.errors.any?
    #error_explanation
      %h2= "#{pluralize(@siteconfig.errors.count, "error")} prohibited this siteconfig from being saved:"
      %ul
        - @siteconfig.errors.full_messages.each do |msg|
          %li= msg

  %table
    %tr
      .field
        %td= f.label :hero_url
        %td= f.text_field :hero_url
  .actions
    = f.submit 'Save'
