- content_for :head do
  = stylesheet_link_tag "portal.css"

%div{:style => "margin:10px; font-size:75%"}
  %h2 Display Site Configuration
  
  %div.form-box
    %div
      %legend Site Configuration
      %table
        %thead
          %tr
            %th
            %th Title/Description
            %th Link
            %th Small Picture
            %th Big Picture
        %tbody
          %tr
            %td Hero 1
            %td
              = @siteconfig.hero_title_1
              %br/
              = @siteconfig.hero_desc_1
            %td= link_to @siteconfig.hero_link_1
            %td= image_tag @siteconfig.hero_picture_small_1.url, :style => "height:75px" if !@siteconfig.hero_picture_small_1.nil?
            %td= image_tag @siteconfig.hero_picture_big_1.url, :style => "height:75px" if !@siteconfig.hero_picture_big_1.nil?
          %tr
            %td Hero 2
            %td
              = @siteconfig.hero_title_2
              %br/
              = @siteconfig.hero_desc_2
            %td= link_to @siteconfig.hero_link_2
            %td= image_tag @siteconfig.hero_picture_small_2.url, :style => "height:75px" if !@siteconfig.hero_picture_small_2.nil?
            %td= image_tag @siteconfig.hero_picture_big_2.url, :style => "height:75px" if !@siteconfig.hero_picture_big_2.nil?
          %tr
            %td Hero 3
            %td
              = @siteconfig.hero_title_3
              %br/
              = @siteconfig.hero_desc_3
            %td= link_to @siteconfig.hero_link_3
            %td= image_tag @siteconfig.hero_picture_small_3.url, :style => "height:75px" if !@siteconfig.hero_picture_small_3.nil?
            %td= image_tag @siteconfig.hero_picture_big_3.url, :style => "height:75px" if !@siteconfig.hero_picture_big_3.nil?
  
    %div
      = link_to "Edit", edit_siteconfig_path(1), :class => "uiButton"

  %div.span-24{:style => "margin-top:50px"}
    %hr
    %h1 Siteconfig#show
    %p Find me in app/views/siteconfig/show.html.haml