
= form_for @mproduct do |f|
  -if @mproduct.errors.any?
    #error_explanation
      %h2= "#{pluralize(@mproduct.errors.count, "error")} prohibited this mproduct from being saved:"
      %ul
        - @mproduct.errors.full_messages.each do |msg|
          %li= msg

  %table
    %tr
      .field
        %td= f.label :id
        %td= f.text_field :id, options = {:readonly => "readonly"}
    %tr
      .field
        %td= f.label :product_type
        %td= select("mproduct", "product_type", MERCHANT_CONFIG['product_types'].collect {|x| x['product_type']})
    %tr
      .field
        %td= f.label :title
        %td= f.text_field :title
    %tr
      .field
        %td= f.label :body_html, "Description"
        %td= f.text_area :body_html, :size => "50x3"
    %tr
      .field
        %td= f.label :vendor
        %td= f.text_field :vendor, options = {:readonly => "readonly"}
    %tr
      %td
      %td
        .actions
          = f.submit

