<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>

  <% if has_role? :admin %>
	  <p>
		<%= f.label :roles %><br />
		<%= f.select :roles, controller.authorization_engine.roles, {}, {:multiple => false} %>
	  </p>
	  
	  <p>
		<%= f.label :shopify_product_vendor %><br />
		<%= f.text_field :shopify_product_vendor %>
	  </p>
  <% end %>
  
  <% if has_role? :merchant %>
	<h2>Merchant Info Below</h2>
  <% end %>

  <p><%= f.submit %></p>
<% end %>
