= form_for @product do |f|
  = f.error_messages
  %p
    = f.label :product_type 
    <br />
    = f.text_field :product_type
  %p
    = f.label :title 
    <br />
    = f.text_field :title
  %p
    = f.label :body_html 
    <br />
    = f.text_field :body_html

  %p= f.submit
