- content_for :head do
  = stylesheet_link_tag 'white/jquery-ui-1.8.11.custom.css'
  = javascript_include_tag 'white/jquery-ui-1.8.11.custom.min.js'
  = stylesheet_link_tag "portal.css"

%div{:style => "margin:10px"}
  %h2 Admin Portal
  .form-box
    %div
      %ul
        %li= link_to "Manage Users", users_path
        %li= link_to "Site Configuration", siteconfig_path(1)


