
%div{:style => "margin:0px 10px"}

  %div{:style => "width:770px; height:457px; margin:0px 10px 10px 0px; float:left; position:relative"}
    %img{:style => "position: absolute; left:7px; top:8px", :src => "images/hero.jpg", :atl => ""}
    %img{:style => "position: absolute; left:559px; top:8px", :src => "images/sidekick1.png", :atl => ""}
    %img{:style => "position: absolute; left:559px; top:155px", :src => "images/sidekick2.png", :atl => ""}
    %img{:style => "position: absolute; left:559px; top:302px", :src => "images/sidekick3.png", :atl => ""}
    %img{:style => "position:absolute; left:0px; top:0px", :src => "images/image-overlay.png", :atl => ""}

  %div{:style => "width:150px; height:300px; margin:10px; border:1px solid black; float:left"}
    Top Ten

  %div{:style => "clear:both"}

  %hr
  %h1 Pages#home
  %p Find me in app/views/pages/home.html.haml

  = render 'users/showroles'

  %p
    = link_to "Visitor", pages_visitor_path
    - if permitted_to? [:member,:merchant,:admin]
      = "| "
      = link_to "Member", pages_member_path
    - if permitted_to? [:merchant,:admin]
      = "| "
      = link_to "Merchant", pages_merchant_path
    - if permitted_to? :admin
      = "| "
      = link_to "Admin", pages_admin_path
