%h1 Pages#merchant
%p Find me in app/views/pages/merchant.html.haml

%p
  = link_to "List Products", mproducts_path
  = link_to "New Product", new_mproduct_path

/
  %p
    = 'shopify_store_url = ' + APP_CONFIG['shopify_store_url']
    %br/
    = 'shopify_api_key = ' + APP_CONFIG['shopify_api_key']
    %br/
    = 'shopify_password = ' + APP_CONFIG['shopify_password']

%p
  = 'product_types.size = ' + MERCHANT_CONFIG['product_types'].size.to_s

%p
  = MERCHANT_CONFIG['product_types'].inspect
  
%p
  = MERCHANT_CONFIG['product_tags'].inspect  