
- content_for :head do
  = stylesheet_link_tag 'white/jquery-ui-1.8.11.custom.css'
  = javascript_include_tag 'white/jquery-ui-1.8.11.custom.min.js'
  :javascript
    $(function() {
      $('#tabs').tabs();
    })

.div{:style => "margin:10px"}
  %h1 Merchant Portal
  %br/
  %div{:style => "float:left"}
    .div
      %h2 Products
      = link_to "List Products", sproducts_path
      %br/
      = link_to "New Product", new_sproduct_path
    .div
      %h2 Orders
      = link_to "Open Orders", "#{sorders_path}/open"
      %br/
      = link_to "All Orders", "#{sorders_path}"
  %div{:style => "float:right; margin-right:50px"}
    .div
      %h2 Store
      = "Total Products: #{@countProducts}"
      %br/
    .div
      %h2 Orders
      = "Open Orders: #{@countOpenOrders}"
      %br/
      %span{:style => "color:red"}= "Late Orders: #{'42'}"
  %div{:style => "clear:both"}

.div{:style => "margin:100px 10px"}
  %hr
  %h2 Dev stuff here
  %p Find me in app/views/pages/merchant.html.haml

  /
    %p
      = 'shopify_store_url = ' + APP_CONFIG['shopify_store_url']
      %br/
      = 'shopify_api_key = ' + APP_CONFIG['shopify_api_key']
      %br/
      = 'shopify_password = ' + APP_CONFIG['shopify_password']

  %p= "Number of smart collections = #{Mproduct.smart_collections}"
  %p= "Number of custom collections = #{Mproduct.custom_collections}"
  %p= "Number of custom collections with title Hats-Snapbacks = #{Mproduct.custom_collection('Hats-Snapbacks')}"
  %p= "Find or create custom collection with title Hats-Snapbacks = #{Mproduct.find_or_create_custom_collection('Hats-Snapbacks')}"

  %script
    document.write('<p>jQuery version = ' + $().jquery + '</p>');
    document.write('<p>jQuery UI version = ' + $.ui.version + '</p>');

  %p  
    %h2.demoHeaders Tabs
    %div#tabs
      %ul
        <li><a href="#tabs-1">First</a></li>
        <li><a href="#tabs-2">Second</a></li>
        <li><a href="#tabs-3">Third</a></li>
      <div id="tabs-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      <div id="tabs-2">Phasellus mattis tincidunt nibh. Cras orci urna, blandit id, pretium vel, aliquet ornare, felis. Maecenas scelerisque sem non nisl. Fusce sed lorem in enim dictum bibendum.</div>
      <div id="tabs-3">Nam dui erat, auctor a, dignissim quis, sollicitudin eu, felis. Pellentesque nisi urna, interdum eget, sagittis et, consequat vestibulum, lacus. Mauris porttitor ullamcorper augue.</div>
      
  %p
    = 'constraints.inspect = ' + MERCHANT_CONFIG['constraints'].inspect
    
  %p
    = 'product_types.size = ' + MERCHANT_CONFIG['product_types'].size.to_s

  %p
    = 'product_types.inspect = ' + MERCHANT_CONFIG['product_types'].inspect
    
  %p
    = 'product_tags.inspect = ' + MERCHANT_CONFIG['product_tags'].inspect 
  