.fields
  .field
    = f.label :sku
    = f.text_field :sku
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :size
    = f.text_field :size
  .field
    = link_to_remove_fields "remove", f
  %br/
