%h1 Listing sproducts

%table
  %tr
    %th Id
    %th Vendor
    %th Product type
    %th Title
    %th Body html
    %th
    %th
    %th

  - @sproducts.each do |sproduct|
    %tr
      %td= sproduct.id
      %td= sproduct.vendor
      %td= sproduct.product_type
      %td= sproduct.title
      %td= sproduct.body_html
      %td= link_to 'Show', sproduct
      %td= link_to 'Edit', edit_sproduct_path(sproduct)
      %td= link_to 'Destroy', sproduct, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Sproduct', new_sproduct_path
