%p#notice= notice

%p
  %b Id:
  = @sproduct.id
%p
  %b Product type:
  = @sproduct.product_type
%p
  %b Product category:
  = @sproduct.product_category
%p
  %b Title:
  = @sproduct.title
%p
  %b Body html:
  = @sproduct.body_html
%p
  %b Color:
  = @sproduct.color
%p
  %b Gender:
  = @sproduct.gender
%p
  %b Brand:
  = @sproduct.brand
%p
  %b Onsale:
  = @sproduct.onsale
%p
  %b Collectible:
  = @sproduct.collectible
%p
  %b Custom:
  = @sproduct.custom
%p
  %b Vendor:
  = @sproduct.vendor
%p
  %b Picture:
  = image_tag @sproduct.picture.url

%p
  %ol
    - for variant in @sproduct.sproduct_variants
      %li= "sku=#{variant.sku}, price=#{number_to_currency(variant.price)}, size=#{variant.size}"
  
= link_to 'Edit', edit_sproduct_path(@sproduct)
\|
= link_to 'Back', sproducts_path
