
- content_for :head do
  = stylesheet_link_tag "portal.css"

%div{:style => "margin:10px"}

  %h2 Show Product
  .form-box
    %div

      %p#notice= notice

      %table
        %tr
          %td{:style => "font-weight:bold"} Id:
          %td= @sproduct.id
        %tr
          %td{:style => "font-weight:bold"} Product type:
          %td= @sproduct.product_type
        %tr
          %td{:style => "font-weight:bold"} Product category:
          %td= @sproduct.product_category
        %tr
          %td{:style => "font-weight:bold"} Title:
          %td= @sproduct.title
        %tr
          %td{:style => "font-weight:bold"} Body html:
          %td= @sproduct.body_html
        %tr
          %td{:style => "font-weight:bold"} Color:
          %td= @sproduct.color
        %tr
          %td{:style => "font-weight:bold"} Gender:
          %td= @sproduct.gender
        %tr
          %td{:style => "font-weight:bold"} Brand:
          %td= @sproduct.brand
        %tr
          %td{:style => "font-weight:bold"} Onsale:
          %td= @sproduct.onsale
        %tr
          %td{:style => "font-weight:bold"} Collectible:
          %td= @sproduct.collectible
        %tr
          %td{:style => "font-weight:bold"} Custom:
          %td= @sproduct.custom
        %tr
          %td{:style => "font-weight:bold"} Featured:
          %td= @sproduct.featured
        %tr
          %td{:style => "font-weight:bold"} Vendor:
          %td= @sproduct.vendor
        %tr
          %td{:style => "font-weight:bold"} Picture:
          %td= image_tag @sproduct.picture.url

      %p
        %ol
          - for variant in @sproduct.sproduct_variants
            %li= "sku=#{variant.sku}, price=#{number_to_currency(variant.price)}, compare_to_price=#{number_to_currency(variant.compare_to_price)}, size=#{variant.size}"
    
      = link_to 'Edit', edit_sproduct_path(@sproduct), :class => "uiButton"
      \|
      = link_to 'View Products', sproducts_path, :class => "uiButton" 
