<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "style" %>
    <%= stylesheet_link_tag "overrides" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body style="background-color:black">
    <div id="body-header">
    <div id="main-container">
    <div id="main-container-float">
	
	<div id="header-container">
		<div id="header-topnav">
			<div id="header-topnav-left">
				<% if current_user %>
					<%= link_to "Logout", signout_path %> |
					<%= link_to "Edit Profile", edit_user_path(:current) %>
					<%  if permitted_to? :merchant %>
						| <%= link_to "Merchant Portal", pages_merchant_path %>
					<% end %>
					<%  if permitted_to? :admin %>
						| <%= link_to "Admin Portal", pages_admin_path %>
					<% end %>
				<% else %>
					<%= link_to "Login", signin_path %> |
					<%= link_to "Register", new_user_path %>
				<% end %>
			</div>
			<div id="header-topnav-right">
				<%= link_to "MyCart", root_url %>
			</div>
			<div class="clear"></div>
		</div>
		<div id="logo">
			<%= link_to root_url, :title => "Soletron" do %>
				<span>Soletron</span>
			<% end %>
		</div>
		<div id="primary-navigation">
			<ul>
				<li class="deactivated">
					<a href="javascript:void(0)" title="Coming Soon">buy</a>
				</li>
				<li class="deactivated">
					<a href="javascript:void(0)" title="Coming Soon">sell</a>
				</li>
				<li class="deactivated">
					<a href="javascript:void(0)" title="Coming Soon">community</a>
				</li>
				<li class="current-menu-item">
					<%= link_to "blog", root_url, :title => "Soletron" %>
				</li>
			</ul>
		</div>
		<div id="search-container">
			<div id="search-legend">BLOG</div>
			<form role="search" method="get" id="searchform" action="">
				<input type="text" value="SEARCH" name="s" id="s"/>
				<input type="submit" id="searchsubmit" value>
			</form>
		</div>
		<div id="secondary-navigation" class="menu-secondary-container">
			<ul id="menu-secondary" class="menu">
			</ul>
		</div>
		
	</div>

	<div id="template-container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>

	<div id="footer-container">
    </div>

    </div>
    </div>
    </div>
  </body>
</html>
