!!! 5
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "Soletron - Dev"
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "style"
    = stylesheet_link_tag "overrides"
    = javascript_include_tag :defaults
    = csrf_meta_tag
    = yield(:head)
  %body.soletron
    #body-header
      #main-container
        #main-container-float
	
          #header-container
            #header-topnav
              #header-topnav-left
                - if current_user
                  = link_to "Logout", signout_path
                  = "|"
                  = link_to "Edit Profile", edit_user_path(:current)
                  - if has_role? :merchant
                    = "|"
                    = link_to "Merchant Portal", pages_merchant_path
                  - if has_role? :admin
                    = "|"
                    = link_to "Admin Portal", pages_admin_path
                - else
                  = link_to "Login", signin_path
                  = "|"
                  = link_to "Register", new_user_path
              #header-topnav-right
                = link_to "MyCart", root_url
              .clear
            #logo
              = link_to root_url, :title => "Soletron" do
                <span>Soletron</span>
            #primary-navigation
              %ul
                %li.deactivated
                  = link_to "buy", market_show_path(:path => "all")
                %li.deactivated
                  %a{:href => "javascript:void(0)", :title => "Coming Soon"} sell
                %li.deactivated
                  %a{:href => "javascript:void(0)", :title => "Coming Soon"} community
                %li.current-menu-item
                  = link_to "blog", root_url, :title => "Soletron"
            #search-container
              #search-legend BLOG
              %form#searchform{:role => "search", :method => "get", :action => ""}
                %input#s{:type => "text", :value => "SEARCH", :name => "s"}
                %input#searchsubmit{:type => "submit", :value => ""}
            #secondary-navigation.menu-secondary-container
              %ul#menu-secondary.menu
                %li.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-86
                  = link_to "Hats", market_show_path(:path => "types?q=Hats")

                %li.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-81
                  = link_to "Tops", market_show_path(:path => "types?q=Tops")
                
                %li.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-80
                  = link_to "Bottoms", market_show_path(:path => "types?q=Bottoms")
                %li.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-85
                  = link_to "Footwear", market_show_path(:path => "types?q=Footwear")
                %li.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-82
                  = link_to "Accessories/Other", market_show_path(:path => "types?q=Accessories/Other")
                %li.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-84
                  = link_to "Art/Toys/Electronics", market_show_path(:path => "types?q=Art/Toys/Electronics")
          
          #template-container
            - flash.each do |name, msg|
              = content_tag :div, msg, :id => "flash_#{name}"
            = content_tag :h1, yield(:title) if show_title?
            = yield

          #footer-container
            #logo
              %a{:href => "/", :title => "Soletron"}
                %span Soletron
            #copyright Copyright &copy; 2001 by Soletron LLC. All Rights Reserved.
            #bottom-navigation.menu-foot-container
              %ul#menu-footer.menu
                %li#menu-item-24.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-24
                  %a{:href => "#"} Advertise
                %li#menu-item-25.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-25
                  %a{:href => "#"} Strategic Partners
                %li#menu-item-26.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-26
                  %a{:href => "#"} Careers
                %li#menu-item-27.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-27
                  %a{:href => "#"} Contact
                %li#menu-item-23.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-23
                  %a{:href => "#"} About Us
                %li#menu-item-545.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-545
                  %a{:href => "/"} Home
          
          
          
          
          
          